{% extends "mesolex_site/includes/header.html" %}

{% load i18n %}

{% block extra-nav %}
{% if page.lexicons or page.corpora or page.grammar or page.search or page.about %}
  <li class="nav-item dropdown d-block d-sm-none">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {% trans "Recursos" %}
    </a>
    <div class="dropdown-menu">
      {% if page.lexicons %}
        <a href="#" class="dropdown-item">
          Lexicons
        </a>
      {% endif %}
      {% if page.corpora %}
        <a href="#" class="dropdown-item">
          Corpora
        </a>
      {% endif %}
      {% if page.grammar %}
        <a href="#" class="dropdown-item">
          Grammar
        </a>
      {% endif %}
      {% if page.search %}
        <a href="#" class="dropdown-item">
          Search
        </a>
      {% endif %}
      {% if page.about %}
        <a href="#" class="dropdown-item">
          About
        </a>
      {% endif %}
    </div>
  </li>
{% endif %}
{% endblock extra-nav %}