.lexicon-jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(200, 220, 220);
}

.lexicon-jumbotron__inner {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.3rem;
}

.lexicon-jumbotron__headline {
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}
