.lexicon-jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(200, 220, 220);
  background-position: center 0;
  padding: 18rem 0 0 0;

  @include media-breakpoint-down(lg) {
    padding-top: 16rem;
  }

  @include media-breakpoint-down(md) {
    padding-top: 14rem;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 12rem;
  }
}

.lexicon-jumbotron__inner {
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.3rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.lexicon-jumbotron__headline {
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}
