{% extends 'mesolex_site/base.html' %}

{% load i18n %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'dist/site.bundle.css' %}" />
{% endblock extra-head %}

{% block header %}
  {% include 'mesolex_site/includes/language_home_page_header.html' %}
{% endblock header%}

{% block content %}
{% image page.header_img max-1024x768 as header_img %}
<div class="jumbotron lexicon-jumbotron mt-2 mb-2" style="background-image: url({{ header_img.url }})">
  <div class="lexicon-jumbotron__inner">
    <h1 class="display-4 lexicon-jumbotron__headline">
      {{ page.headline }}
    </h1>
    <p class="lead">
      {{ page.sub_headline }}
    </p>
    
    <nav class="navbar navbar-light navbar-expand-sm p-0">
      <div class="collapse navbar-collapse" id="languageNavLinks">
        <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item">
              <a href="{% firstof page.lexicons.url '#' %}" class="nav-link pl-0{% if not page.lexicons.url %} disabled{% endif %}">
                Lexicons
              </a>
            </li>
            <li class="nav-item">
              <a href="{% firstof page.corpora.url '#' %}" class="nav-link{% if not page.corpora.url %} disabled{% endif %}">
                Corpora
              </a>
            </li>
            <li class="nav-item">
              <a href="{% firstof page.grammar.url '#' %}" class="nav-link{% if not page.grammar.url %} disabled{% endif %}">
                Grammar
              </a>
            </li>
            <li class="nav-item">
              <a href="{% firstof page.search.url '#' %}" class="nav-link{% if not page.search.url %} disabled{% endif %}">
                Search
              </a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item ml-auto">
              <a href="{% firstof page.about.url '#' %}" class="nav-link{% if not page.about.url %} disabled{% endif %}">
                About
              </a>
            </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<p class="small mt-2 text-right">
  {% trans 'Crédito: Ilustración por Inocencio Jiménez Chino' %}
</p>

{{ page.body|richtext }}

{% endblock content %}