{% extends 'mesolex_site/base.html' %}
{% load i18n %}
{% load lexeme_tags %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'dist/site.bundle.css' %}" />
{% endblock extra-head %}

{% block content %}
<div class="test-formset-form">
    {% include 'query_builder/includes/query_builder.html' with query_builder_action=page.url query_builder_formset=search.formset query_builder_form_id='search-form' query_builder_formset_global_filters_form=search.formset_global_filters_form %}
</div>

{{ page.body|richtext }}

{% if query %}
    <div class="row">
        <div class="col-12">
            {% if lexical_entries %}

            <div class="h5 mb-4">
                {% blocktrans %}{{ num_entries }} resultados (página {{ result_page }} de {{ num_pages }}){% endblocktrans %}
            </div>

            {% for lexical_entry in lexical_entries %}
            {% with data=lexical_entry.data %}
            <div class="card mb-4">
                <div class="card-header card-header--search">
                    <span class="h5">{{ lexical_entry.value }}</span>

                    {% if lexical_entry.media_set.exists %}
                        &nbsp;
                        {% for media in lexical_entry.media_set.all %}
                            <audio controls preload="none" class="lexical-entry-audio">
                                <source src="{{ media.url }}" type="{{ media.mime_type }}" />
                            </audio>
                        {% endfor %}
                    {% endif %}

                    {% if data.citation_forms|length != 0 %}
                    &nbsp;|&nbsp;
                    <i>{% trans 'Citación' %}:</i> {% for citation in data.citation_forms %}{{ citation }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if data.variant_forms|length != 0 %}, <i>{% trans 'Formas alt.' %}:</i> {% for variant in data.variant_forms %}{{ variant }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if data.glosses|length != 0 %}, <i>{% trans 'Glosa' %}:</i> {% for gloss in data.glosses %}{{ gloss }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}

                    {% if data.grammar_groups|length != 0 %}
                    &nbsp;|&nbsp;
                    <i>{% trans 'Categoría gramatical' %}:</i> {% for grammar_group in data.grammar_groups %}{% link_part_of_speech grammar_group.part_of_speech page.url language %}{% if grammar_group.inflectional_type %}; <i>{% trans 'Inflexión' %}:</i> {% link_inflectional_type grammar_group.inflectional_type page.url language %}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}

                    {% if data.categories %}
                    &nbsp;|&nbsp;
                    <i>{% trans 'Campo semántico' %}:</i> {% for category in data.categories %}{{ category|link_category:page.url }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}

                    {% if data.roots.simple|length != 0 or data.roots.complex|length != 0 %}
                        &nbsp;|&nbsp;
                        <strong>{% trans 'Etimología' %}:</strong>

                        {% for root in data.roots.simple %}
                        {% if forloop.first %}
                        <i>{% blocktrans count counter=data.roots.simple|length %}Raíz{% plural %}Raízes{% endblocktrans %}:</i>{% endif %}
                        {{ root|link_raiz:page.url }}{% if not forloop.last %}; {% endif %}
                        {% endfor %}

                        {% for root in data.roots.complex %}
                        {% if forloop.first %}&nbsp;|&nbsp;
                        <i>{% blocktrans count counter=data.roots.complex|length %}Raíz compuesta{% plural %}Raízes compuestas{% endblocktrans %}:</i> {% endif %}{{ root }}{% if not forloop.last %}; {% endif %}
                        {% endfor %}

                        {% for non_native_etymology in data.non_native_etymologies %}
                        {% if forloop.first %}&nbsp;|&nbsp;
                        <i>{% blocktrans count counter=data.non_native_etymologies|length %}Palabra con elementos no de náhuat{% plural %}Palabras con elementos no de náhuat{% endblocktrans %}:</i> {% endif %}{{ non_native_etymology.value|link_vnawa:page.url }}{% if not forloop.last %}; {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <ol class="search-results-list">
                        {% for sense in data.senses %}
                        <li>
                            <div class="card-text">
                                <p>{{ sense.sense|link_vnawa:page.url }}{% if sense.ostentives|length != 0 %} ({% for ostentive in sense.ostentives %}{{ ostentive|link_vnawa:page.url }}{% endfor %}){% endif %}</p>
                            </div>
                            {% for example in sense.examples %}
                                <blockquote class="card-text example font-weight-light">
                                    <p>
                                        {{ example.original.text|safe }}
                                        {% if example.translation %}
                                            <i>({{ example.translation.text|link_vnawa:page.url }})</i>
                                        {% endif %}
                                    </p>
                                </blockquote>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ol>
                </div>

                {% if data.notes|length != 0 %}
                <div class="card-footer">
                    {% for note in data.notes %}
                        {% if note.note_type == 'semantics' %}
                            <strong>{% trans 'Notas semánticas' %}:</strong> {{ note.text|link_vnawa:page.url }}
                        {% endif %}
                    {% endfor %}

                    {% for note in data.notes %}
                        {% if note.note_type == 'morphology' %}
                            <strong>{% trans 'Notas morfológicas' %}:</strong> {{ note.text|link_vnawa:page.url }}
                        {% endif %}
                    {% endfor %}

                    {% for note in data.notes %}
                        {% if note.note_type == 'note' %}
                            <strong>{% trans 'Notas gramaticales' %}:</strong> {{ note.text|link_vnawa:page.url }}
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endwith %}
            {% endfor %}

            {% if lexical_entries.has_previous or lexical_entries.has_next %}
                <ul class="pagination">
                    <li class="page-item{% if not lexical_entries.has_previous %} disabled{% endif %}">
                        {% if lexical_entries.has_previous %}
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ lexical_entries.previous_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        &laquo; {% trans 'Anterior' %}
                        {% if lexical_entries.has_previous %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                    <li class="page-item{% if not lexical_entries.has_next %} disabled{% endif %}">
                        {% if lexical_entries.has_next %}
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ lexical_entries.next_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        {% trans 'Siguiente' %} &raquo;
                        {% if lexical_entries.has_next %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}

            {% else %}
            <p>
                {% trans 'Resultado no encontrado.' %}
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock content %}

{% block js-init %}
    {{ block.super }}
    "csrfToken": "{{ csrf_token }}",
    "languages": {{ languages|safe }},
    "search": {
        "formset_name": "{{ page.language_code }}",
        "formset_config": {{ search.formset.configuration_data_as_json|safe }},
        "formset_data": {{ search.formset_data|safe }},
        "formset_datasets_form_data": {{ search.formset_datasets_form_data|safe }},
        "formset_global_filters_form_data": {{ search.formset_global_filters_form_data|safe }},
        "formset_errors": {{ search.formset_errors|safe }}
    }
{% endblock js-init %}

{% block extra-js %}
{{ block.super }}
<script src="{% static 'dist/dataSearch.bundle.js' %}"></script>
{% endblock extra-js %}
