{% extends 'mesolex_site/base.html' %}
{% load i18n %}
{% load lexeme_tags %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'dist/site.bundle.css' %}" />
{% endblock extra-head %}

{% block content %}
<div class="test-formset-form">
    {% include 'query_builder/includes/query_builder.html' with query_builder_action=page.url query_builder_formset=search.formset query_builder_form_id='search-form' query_builder_formset_global_filters_form=search.formset_global_filters_form %}
</div>

{{ page.body|richtext }}

{% if query %}
    <div class="row">
        <div class="col-12">
            {% if lexical_entries %}

            <div class="h5 mb-4">
                {% blocktrans %}{{ num_entries }} resultados (página {{ result_page }} de {{ num_pages }}){% endblocktrans %}
            </div>

            {% for lexical_entry in lexical_entries %}
                {% if language == "juxt1235" %}
                    {% include "mesolex_site/includes/search_result/juxt1235.html" with data=lexical_entry.data %}
                {% else %}
                    {% include "mesolex_site/includes/search_result/default.html" with data=lexical_entry.data %}
                {% endif %}
            {% endfor %}

            {% if lexical_entries.has_previous or lexical_entries.has_next %}
                <ul class="pagination">
                    <li class="page-item{% if not lexical_entries.has_previous %} disabled{% endif %}">
                        {% if lexical_entries.has_previous %}
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ lexical_entries.previous_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        &laquo; {% trans 'Anterior' %}
                        {% if lexical_entries.has_previous %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                    <li class="page-item{% if not lexical_entries.has_next %} disabled{% endif %}">
                        {% if lexical_entries.has_next %}
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ lexical_entries.next_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        {% trans 'Siguiente' %} &raquo;
                        {% if lexical_entries.has_next %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}

            {% else %}
            <p>
                {% trans 'Resultado no encontrado.' %}
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock content %}

{% block js-init %}
    {{ block.super }}
    "csrfToken": "{{ csrf_token }}",
    "languages": {{ languages|safe }},
    "search": {
        "formset_name": "{{ page.language_code }}",
        "formset_config": {{ search.formset.configuration_data_as_json|safe }},
        "formset_data": {{ search.formset_data|safe }},
        "formset_datasets_form_data": {{ search.formset_datasets_form_data|safe }},
        "formset_global_filters_form_data": {{ search.formset_global_filters_form_data|safe }},
        "formset_errors": {{ search.formset_errors|safe }}
    }
{% endblock js-init %}

{% block extra-js %}
{{ block.super }}
<script src="{% static 'dist/dataSearch.bundle.js' %}"></script>
{% endblock extra-js %}
