{% extends 'mesolex_site/base.html' %}
{% load i18n %}
{% load lexeme_tags %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'dist/site.bundle.css' %}" />
{% endblock extra-head %}

{% block content %}
<div class="test-formset-form">
    {% include 'query_builder/includes/query_builder.html' with query_builder_action=page.url query_builder_formset=search.formset query_builder_form_id='search-form' query_builder_formset_global_filters_form=search.formset_global_filters_form %}
</div>

{{ page.body|richtext }}

{% if query %}
    <div class="row">
        <div class="col-12">
            {% if lexical_entries %}

            <div class="h5 mb-4">
                {% blocktrans %}{{ num_entries }} resultados (página {{ result_page }} de {{ num_pages }}){% endblocktrans %}
            </div>

            {% for lexical_entry in lexical_entries %}
            {% with data=lexical_entry.data %}
            <div class="card mb-4">
                <div class="card-header card-header--search">
                    <span class="h5">{{ lexical_entry.lemma }}</span>

                    {% if lexical_entry.media_set.exists %}
                        &nbsp;
                        {% for media in lexical_entry.media_set.all %}
                            <audio controls preload="none" class="lexical-entry-audio">
                                <source src="{{ media.url }}" type="{{ media.mime_type }}" />
                            </audio>
                        {% endfor %}
                    {% endif %}

                    {% if lexical_entry.citation_set.exists %}
                    &nbsp;|&nbsp;
                    <i>{% trans 'Citación' %}:</i> {% for citation in lexical_entry.citation_set.all %}{{ citation }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if lexical_entry.variant_set.exists %}, <i>{% trans 'Formas alt.' %}:</i> {% for variant in lexical_entry.variant_set.all %}{{ variant }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if lexical_entry.gloss_set.exists %}, <i>{% trans 'Glosa' %}:</i> {% for gloss in lexical_entry.gloss_set.all %}{{ gloss }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}

                    {% if lexical_entry.grammargroup_set.exists %}
                    &nbsp;|&nbsp;
                    <i>{% trans 'Categoría gramatical' %}:</i> {% for grammar_group in lexical_entry.grammargroup_set.all %}{% link_part_of_speech grammar_group.part_of_speech request.path language %}{% if grammar_group.inflectional_type %}; <i>{% trans 'Inflexión' %}:</i> {% link_inflectional_type grammar_group.inflectional_type request.path language %}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}

                    {% if lexical_entry.category_set.exists %}
                    &nbsp;|&nbsp;
                    <i>{% trans 'Campo semántico' %}:</i> {% for category in lexical_entry.category_set.all %}{{ category.value|link_category:request.path|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}

                    {# {% if data.raiz or data.raiz2 %} #}
                    {% if lexical_entry.simple_roots or lexical_entry.compound_roots %}
                        &nbsp;|&nbsp;
                        <strong>{% trans 'Etimología' %}:</strong>

                        {% for root in lexical_entry.simple_roots %}
                        {% if forloop.first %}
                        <i>{% blocktrans count counter=lexical_entry.simple_roots|length %}Raíz{% plural %}Raízes{% endblocktrans %}:</i>{% endif %}
                        {{ root.value|link_raiz:request.path|safe }}{% if not forloop.last %}; {% endif %}
                        {% endfor %}

                        {% for root in lexical_entry.compound_roots %}
                        {% if forloop.first %}&nbsp;|&nbsp;
                        <i>{% blocktrans count counter=lexical_entry.compound_roots|length %}Raíz compuesta{% plural %}Raízes compuestas{% endblocktrans %}:</i> {% endif %}{{ root }}{% if not forloop.last %}; {% endif %}
                        {% endfor %}

                        {% for non_native_etymology in lexical_entry.nonnativeetymology_set.all %}
                        {% if forloop.first %}&nbsp;|&nbsp;
                        <i>{% blocktrans count counter=lexical_entry.nonnativeetymology_set.all|length %}Palabra con elementos no de náhuat{% plural %}Palabras con elementos no de náhuat{% endblocktrans %}:</i> {% endif %}{{ non_native_etymology.value|link_vnawa:request.path|safe }}{% if not forloop.last %}; {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <ol class="search-results-list">
                        {% for sense in lexical_entry.senses %}
                        <li>
                            <div class="card-text">
                                <p>{{ sense.definition|link_vnawa:request.path|safe }}{% if sense.ostentive %} ({{ sense.ostentive|link_vnawa:request.path|safe }}){% endif %}</p>
                            </div>
                            {% for example in sense.examples %}
                                {% for quote in example.original_quotes %}
                                    <blockquote class="card-text example font-weight-light">
                                        <p>
                                            {{ quote.text|safe }}
                                            {% if quote.translations.exists %}
                                                <i>({{ quote.translations.first.text|link_vnawa:request.path|safe }})</i>
                                            {% endif %}
                                        </p>
                                    </blockquote>
                                {% endfor %}
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ol>
                </div>

                {% if lexical_entry.note_set.exists %}
                <div class="card-footer">
                    {% for note in lexical_entry.notes_semantics %}
                    <p class="notes nsem">
                        <strong>{% trans 'Notas semánticas' %}:</strong> {{ note.value|link_vnawa:request.path|safe }}
                    </p>
                    {% endfor %}

                    {% for note in lexical_entry.notes_morphology %}
                    <p class="notes nmorf">
                        <strong>{% trans 'Notas morfológicas' %}:</strong> {{ note.value|link_vnawa:request.path|safe }}
                    </p>
                    {% endfor %}

                    {% for note in lexical_entry.notes_general %}
                    <p class="notes ngram">
                        <strong>{% trans 'Notas gramaticales' %}:</strong> {{ note.value|link_vnawa:request.path|safe }}
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endwith %}
            {% endfor %}

            {% if lexical_entries.has_previous or lexical_entries.has_next %}
                <ul class="pagination">
                    <li class="page-item{% if not lexical_entries.has_previous %} disabled{% endif %}">
                        {% if lexical_entries.has_previous %}
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ lexical_entries.previous_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        &laquo; {% trans 'Anterior' %}
                        {% if lexical_entries.has_previous %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                    <li class="page-item{% if not lexical_entries.has_next %} disabled{% endif %}">
                        {% if lexical_entries.has_next %}
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ lexical_entries.next_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        {% trans 'Siguiente' %} &raquo;
                        {% if lexical_entries.has_next %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}

            {% else %}
            <p>
                {% trans 'Resultado no encontrado.' %}
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock content %}

{% block js-init %}
    {{ block.super }}
    "csrfToken": "{{ csrf_token }}",
    "languages": {{ languages|safe }},
    "search": {
        "formset_name": "{{ page.language_code }}",
        "formset_config": {{ search.formset.configuration_data_as_json|safe }},
        "formset_data": {{ search.formset_data|safe }},
        "formset_datasets_form_data": {{ search.formset_datasets_form_data|safe }},
        "formset_global_filters_form_data": {{ search.formset_global_filters_form_data|safe }},
        "formset_errors": {{ search.formset_errors|safe }}
    }
{% endblock js-init %}

{% block extra-js %}
{{ block.super }}
<script src="{% static 'dist/vendors.bundle.js' %}"></script>
<script src="{% static 'dist/dataSearch.bundle.js' %}"></script>
{% endblock extra-js %}
