{
  "extends": "airbnb",

  "env": {
    "browser": true
  },
  "plugins": [
    "babel",
    "import",
    "react"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "import/extensions": 0,
    "react/destructuring-assignment": 0,
    "react/static-property-placement": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ]
  }
}
