{
  "extends": "airbnb",

  "env": {
    "browser": true
  },
  "plugins": [
    "babel",
    "import",
    "react"
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "react/destructuring-assignment": 0,
    "react/static-property-placement": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "jsx-a11y/click-events-have-key-events": 0
  }
}
