---
project_name: mesolex
python_version: 3.5
pg_version: 9.5
solr_version: "7.3.0"

secret_key: "{{ SECRET_KEY }}"

root_dir: "/var/www/{{ project_name }}"
source_dir: "{{ root_dir }}/src"
venv_dir: "{{ root_dir }}/env"
project_user: "{{ project_name }}"

db_password: "{{ SECRET_DB_PASSWORD }}"
app_minions: "{{ groups['web'] | union(groups['worker']) }}"

repo:
  url: "{{ repo_url|default('git@github.com:nmashton/mesolex.git') }}"
  branch: "{{ repo_branch|default('master') }}"

github_deploy_key: "{{ SECRET_GITHUB_DEPLOY_KEY|default('') }}"

root_dir: "/var/www/{{ project_name }}"
source_dir: "{{ root_dir }}/src"

nodejs_version: "6.x"
nodejs_install_npm_user: "{{ project_name }}"
nodejs_package_json_path: "{{ source_dir }}"
nodejs_config_unsafe_perm: true

solr_create_user: false
solr_user: "{{ project_name }}"
solr_remove_cruft: true
solr_cores:
  - mesolex
