{% extends 'base.html' %}
{% load lexeme_tags %}
{% load i18n %}
{% load staticfiles %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'dist/lexicon_scss.bundle.css' %}" />
{% endblock extra-head %}

{% block content %}
    <div class="test-formset-form">
        <form action="/" method="get">
          <div id="search-form">
            <!-- This will be replaced on page load. -->
            {% for form in formset %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            {{ form.operator }}
                            {{ form.filter_on }}
                            {{ form.filter }}
                        </div>
                        {{ form.query_string }}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    {% trans 'Buscar' %}
                </button>
                <button class="btn btn-primary float-right" id="add-filter">
                    {% trans 'Agrega filtro' %}
                </button>
            </div>
          </div>
        </form>
    </div>

    {% if query %}
    <div class="row">
        <div class="col-12">
            {% if lexical_entries %}
            {% for lexical_entry in lexical_entries %}
            {% with data=lexical_entry.data %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        {{ lexical_entry.headword }}
                    </h5>
                    <h6 class="text-muted font-weight-light">({{ data.catgrGroup.catgr }})</h6>
                    {% if data.lx_alt %}
                        <h6 class="card-subtitle text-muted font-weight-light">
                            Alt. form{{ data.lx_alt|ensure_list|pluralize }}:
                            {% for lx_alt in data.lx_alt|ensure_list %}
                                {{ lx_alt }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </h6>
                    {% endif %}
                </div>
                <div class="card-body">

                    <ol>
                        {% for sig in data.sigGroup|ensure_list %}
                        <li>
                            <div class="card-text">
                                <p>{{ sig.sig|safe }}</p>
                            </div>
                            {% if sig.fr_nGroup %}
                                {% for fr in sig.fr_nGroup|ensure_list %}
                                <blockquote class="card-text example font-weight-light pl-4">
                                    <p>{{ fr.fr_n|safe }} <i>({{ fr.fr_e|safe }})</i></p>
                                </blockquote>
                                {% endfor %}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            {% endwith %}
            {% endfor %}

            {% if page_obj.has_previous or page_obj.has_next %}
                <ul class="pagination">
                    <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
                        {% if page_obj.has_previous %}
                            <a class="page-link" href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        &laquo; {% trans 'Anterior' %}
                        {% if page_obj.has_previous %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                    <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
                        {% if page_obj.has_next %}
                            <a class="page-link" href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        {% trans 'Siguiente' %} &raquo;
                        {% if page_obj.has_next %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}

            {% else %}
            <p>
                {% trans 'Resultado no encontrado.' %}
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block js-init %}
  {{ block.super }}
  "csrfToken": "{{ csrf_token }}",
  "formset_data": {{ formset_data|safe }},
  "formset_errors": {{ formset_errors|safe }}
{% endblock js-init %}

{% block extra-js %}
{{ block.super }}
<script src="{% static 'dist/search.bundle.js' %}"></script>
{% endblock extra-js %}
