{% extends 'base.html' %}
{% load lexeme_tags %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <form action="." method="get">
                <div class="form-group">
                    <label for="q">{% trans "Search text" %}</label>
                    <input class="form-control" name="q" id="id_q" type="search" placeholder="{% trans 'Enter search text here ...' %}">
                </div>
                <input type="submit" class="btn btn-primary" value="{% trans 'Search' %}">
            </form>
        </div>
    </div>

    {% if query %}
    <div class="row py-4">
        <div class="col-12">
            {% if page.object_list %}
            {% for result in page.object_list %}
            {% with data=result.object.data %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        {{ result.object.headword }}
                    </h5>
                    <h6 class="text-muted font-weight-light">({{ data.catgrGroup.catgr }})</h6>
                    {% if data.lx_alt %}
                        <h6 class="card-subtitle text-muted font-weight-light">
                            Alt. form{{ data.lx_alt|ensure_list|pluralize }}:
                            {% for lx_alt in data.lx_alt|ensure_list %}
                                {{ lx_alt }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </h6>
                    {% endif %}
                </div>
                <div class="card-body">

                    {% for sig in result.object.data.sigGroup|ensure_list %}
                    <p class="card-text">{{ sig.sig }}</p>
                        {% if sig.fr_nGroup %}
                            {% for fr in sig.fr_nGroup|ensure_list %}
                            <blockquote class="card-text example font-weight-light pl-4">
                                {{ fr.fr_n }} <i>({{ fr.fr_e }})</i>
                            </blockquote>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endwith %}
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <ul class="pagination">
                    <li class="page-item{% if not page.has_previous %} disabled{% endif %}">
                        {% if page.has_previous %}
                            <a class="page-link" href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        &laquo; {% trans 'Previous' %}
                        {% if page.has_previous %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                    <li class="page-item{% if not page.has_next %} disabled{% endif %}">
                        {% if page.has_next %}
                            <a class="page-link" href="?q={{ query }}&amp;page={{ page.next_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        {% trans 'Next' %} &raquo;
                        {% if page.has_next %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}

            {% else %}
            <p>
                {% trans 'No results found.' %}
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
