{% extends 'base.html' %}
{% load lexeme_tags %}
{% load i18n %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'dist/lexicon_scss.bundle.css' %}" />
{% endblock extra-head %}

{% block content %}
    {% if form_captions %}
        <h2 class="h6">
            {% trans 'Náhuat de la Sierra Nororiental de Puebla: Diccionario' %} ({% trans 'Última actualización' %} 2019-01-12)
        </h2>
    {% endif %}

    <div class="test-formset-form">
        {% include 'query_builder/includes/query_builder.html' with query_builder_action=narratives_search_action query_builder_formset=narratives.formset query_builder_form_id='narrative-search-form' %}
    </div>

    {% if query %}
    <div class="row">
        <div class="col-12">
            {% if metadatas %}

            <div class="h5 mb-4">
                {% blocktrans %}{{ num_entries }} resultados (página {{ page }} de {{ num_pages }}){% endblocktrans %}
            </div>

            {% for metadata in metadatas %}
            {% with data=metadata.data %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="h5">{% trans 'Metadatos basicos' %}</div>
                    <div class="mb-4">
                        {% if metadata.fn_trans %}<i>{% trans 'Nombre de archivo' %}:</i> {{ metadata.fn_trans }};{% endif %}
                        {% if metadata.duration %}<i>{% trans 'Duración' %}:</i> {{ metadata.duration }};{% endif %}
                        {% if metadata.size %}<i>{% trans 'Tamaño' %}:</i> {{ metadata.size }};{% endif %}
                        {% if metadata.lg_code %}<i>{% trans 'ISO 639-3 o Glottocode'%}:</i> {{ metadata.lg_code }};{% endif %}
                        {% if metadata.lgvil %}<i>{% trans 'Lugar de grabación' %}:</i> {{ metadata.lgvil }}{% if metadata.lg_mpio %}, {{ metadata.lg_mpio }}{% endif %}{% if metadata.lg_state %}, {{ metadata.lg_state }}{% endif %};{% endif %}
                        {% if metadata.date %}<i>{% trans 'Fecha de grabación' %}:</i> {{ metadata.date }};{% endif %}
                        {% if metadata.recordby %}<i>{% trans 'Grabado por' %}:</i> {{ metadata.recordby }};{% endif %}
                        {% if metadata.rec_format %}<i>{% trans 'Formato de grabación' %}:</i> {{ metadata.rec_format }};{% endif %}
                        {% if metadata.rec_machine %}<i>{% trans 'Grabadora' %}:</i> {{ metadata.rec_machine }};{% endif %}
                        {% if metadata.rec_mike %}<i>{% trans 'Micrófono' %}:</i> {{ metadata.rec_mike }}.{% endif %}
                    </div>

                    <div class="h5">{% trans 'Contribuidores' %}</div>
                    <div class="mb-4">
                        {% if metadata.contr1 %}
                        <div>
                            <i>{% trans 'Contribuidor' %}{% if metadata.con1_track %} ({{ metadata.con1_track }}){% endif %}:</i> {{ metadata.contr1 }}{% if metadata.con1_role %}; {{ metadata.con1_role }}{% endif %}{% if metadata.con1_sex %}; {{ metadata.con1_sex }}{% endif %}{% if metadata.con1_origin %}; from {{ metadata.con1_origin }}{% endif %}
                        </div>
                        {% endif %}

                        {% if metadata.contr2 %}
                        <div>
                            <i>{% trans 'Contribuidor' %}{% if metadata.con2_track %} ({{ metadata.con2_track }}){% endif %}:</i> {{ metadata.contr2 }}{% if metadata.con2_role %}; {{ metadata.con2_role }}{% endif %}{% if metadata.con2_sex %}; {{ metadata.con2_sex }}{% endif %}{% if metadata.con2_origin %}; from {{ metadata.con2_origin }}{% endif %}
                        </div>
                        {% endif %}
                    </div>

                    {% if metadata.titnative or metadata.titeng or metadata.titspn or metadata.descrip %}<div class="h5">{% trans 'Título y descripción' %}</div>
                        <div class="mb-4">
                            <div>
                                {% if metadata.titnative %}<i>{% trans 'Título indígena' %}:</i> {{ metadata.titnative }};{% endif %} {% if metadata.titeng %}<i>{% trans 'Título inglés'%}:</i> {{ metadata.titeng }}{% endif %}
                            </div>
                            <div>
                                <i>{% trans 'Descripción' %}:</i> {{ metadata.descrip }}
                            </div>
                        </div>
                    {% endif %}

                    {% if metadata.url and metadata.url != 'Pending' %}
                        <div class="h5">URL for inline playback</div>
                        <div class="mb-4">
                            <a href="{{ metadata.url }}">{{ metadata.url }}</a>
                        </div>
                    {% endif %}

                    {% if metadata.archive %}
                        <div class="h5">{% trans 'Archivos' %}</div>
                        <div>
                            {{ metadata.archive }}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endwith %}
            {% endfor %}

            {% if metadatas.has_previous or metadatas.has_next %}
                <ul class="pagination">
                    <li class="page-item{% if not metadatas.has_previous %} disabled{% endif %}">
                        {% if metadatas.has_previous %}
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ metadatas.previous_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        &laquo; {% trans 'Anterior' %}
                        {% if metadatas.has_previous %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                    <li class="page-item{% if not metadatas.has_next %} disabled{% endif %}">
                        {% if metadatas.has_next %}
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ metadatas.next_page_number }}">
                        {% else %}
                            <span class="page-link">
                        {% endif %}
                        {% trans 'Siguiente' %} &raquo;
                        {% if metadatas.has_next %}
                            </a>
                        {% else %}
                            </span>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}

            {% else %}
            <p>
                {% trans 'Resultado no encontrado.' %}
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block js-init %}
  {{ block.super }}
  "csrfToken": "{{ csrf_token }}",
  "languages": {{ languages|safe }},
  "narratives": {
    "formset_config": {{ narratives.formset.configuration_data_as_json|safe }},
    "formset_data": {{ narratives.formset_data|safe }},
    "formset_errors": {{ narratives.formset_errors|safe }}
  }
{% endblock js-init %}

{% block extra-js %}
{{ block.super }}
<script src="{% static 'dist/vendors.bundle.js' %}"></script>
<script src="{% static 'dist/narratives.bundle.js' %}"></script>
{% endblock extra-js %}
